body {
    margin-top: 50px;
    font-family: 'Questrial', serif;
    font-size: 16px;
}
@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    body {
        font-size: 14px;
    }
}

#foto {
    border: 1px solid gray;
    display: inline-block;
    height: 200px;
    width: 200px;
}

.bg-primary{
    background-color: peachpuff !important;
}

hr {
    color: #dee2e6;
    opacity: 1;
}